<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Covid-19</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/controller/adminC.js"></script>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/Covid.png">
    <!-- Pignose Calender -->
    <!--<link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">-->
    <!-- Chartist -->
    <!--<link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">-->
    <!--<link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">-->
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">