<%- include('includes/head.ejs')%>
</head>

<body>

   <%- include('includes/navigation.ejs')%>
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-2 col-sm-6"></div>
                    <div class="col-lg-8 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img src="./images/users/11.jpg" class="col-lg-6 rounded-circle" alt=""></a>
                                    <h5 class="mt-3 mb-1">Kartik Mukati</h5>
                                    <p class="m-0">E-mail : kartikmukati2021@gmail.com</p>
                                </div>
                                <div class="text-center">
                                    <p>Copyright © 2020, Developed by Kartik Mukati</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="https://www.facebook.com/kartik.patidar.1276" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="https://twitter.com/Kartik_Mukati" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/kartik-mukati/" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item"><a href="https://www.instagram.com/kartik.mukati/?hl=en" class="btn btn-google-plus"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6"></div>
                </div>

                
            </div>
            <%- include('includes/end.ejs')%>
            <!-- #/ container -->
        </div>
        
</body>

</html>